.full-image{
  max-width: 100%;
}

.main-content{
  background: #f1efef;
  padding: 28px 0 68px;
  .left-sidebar{
    background: #F1EFEF;
    .user-profile{
      background: #fff;
    }
    .edit-profile{
      height: 40px;
      padding: 0 10px;
      span{
        float: left;
        width: 50%;
        line-height: 40px;
        &.user-name{
          font-size: 16px;
          font-weight: bold;
        }
        &.edit{
          text-align: right;
          font-size: 13px;
          a{
            color: #f2785e;
          }
        }
      }
    }

    ul{
      background: #fff;
      margin-top: 18px;
      padding: 10px 0;
      li{
        height: 40px;
        line-height: 40px;
        a{
          text-decoration: none;
          margin: 10px;
          padding-left: 10px;
          &:hover{
            background: #f16c4e;
            color: #fff;
          }
        }
      }
    }
  }

  .center-content{
    padding: 35px 30px;
    box-sizing: border-box;
    h2{
      padding-bottom: 26px;
      border-bottom: 1px solid #b4b4b4;
    }
  }

}
