$helvetica:"Helvetica Neue", Helvetica, Arial, sans-serif;


@font-face {
	font-family: 'Helvetica Neue';
	src: url('Helvetica-Neue-webfont.eot');
	src: url('Helvetica-Neue-webfont.eot?#iefix') format('embedded-opentype'),
	     url('Helvetica-Neue-webfont.woff') format('woff'),
	     url('Helvetica-Neue-webfont.ttf') format('truetype'),
	     url('Helvetica-Neue-webfont.svg#Helvetica Neue') format('svg');
}

.layout1200{width:1200px;margin: 0px auto;}
.advHeader{background-color: #312d2d;height: 70px; line-height: 70px;text-align: center;color: #fff;font-size: 16px;}

.header{position: relative;width: 100%;height: 100px;
	background: #fff url(../images/logo.jpg) 25px 25px no-repeat;
	.nav{font-size: 16px;margin: 0px 0 0 250px;line-height: 100px;display:inline-block;
		li{float: left;margin: 0px 25px;}
		a{color:#000;
			&:hover{text-decoration: underline;}
		}
	}

	#func-nav-wrap{font-size: 16px;margin-top: 37px;margin-right: 40px;
		ul{
			list-style:none;position:relative;float:left;margin:0;padding:0
			a{
				display:block;
				color:#333;
				text-decoration:none;
				font-weight:700;
				font-size:12px;
				line-height:32px;
				padding:0 15px;
			}
			li{
				position:relative;
				float:left;
				margin:0;
				padding:0;
				&.loginfn{color:#f36127;
					a{color:#f36127;}
				}
				&.language{margin-left: 35px;width: 100px;
					> a{color:#000;height: 30px;line-height: 30px;display: block;padding-right: 30px;background: #fff url(../images/arrow01.png) 70px center no-repeat;
						&:hover{text-decoration: none;}
					}
				}
				&.current-menu-item{background:#ddd;}
				&.divide{margin: 0px 5px;}
				&:hover{}
				&:hover > ul{display: block;}
			}
			ul{
				display:none;
				position:absolute;
				top:100%;
				left:-30px;
				top:30px;
				background:#fff;
				padding:0;
				z-index: 9;
				&.others{
					border:1px solid #999;
					a{color:#000;width:120px;height: 30px;line-height: 30px;display: block;text-align: center;
						&:hover{display: block;text-decoration: none;color:#fff;background:#ccc;text-align: center;}
					}
				}

				li{
					float:none;
					
				}
				a{
					width:120px;
					height: 30px;line-height: 30px;
				}
				ul{
					top:0;
					left:100%;
				}
			}
		}
	}
}



.fullSlidebg{
	height: 795px;width: 100%;background-image: url(../images/airchina.jpg);overflow: hidden;position: relative;
	.leftDescribe{width: 570px;height: 720px;font-size: 18px;color:#fff;padding: 30px 0 0 100px;line-height: 22px;
		background: url(../images/note.png) right 550px no-repeat;
		h1{font-size: 60px;margin: 20px 0;height: 60px;line-height: 60px;}
		h2{font-weight: normal;margin: 20px 0;font-size: 25px;line-height: 25px;}
		ul{
			li{margin: 25px 0px; padding: 10px 0 10px 70px;font-size: 25px;line-height: 25px;
				&.wall{background: url(../images/icon-greatwall-white.png) left center no-repeat;}
				&.safe{background: url(../images/icon-safe-white.png) left center no-repeat;}
				&.drive{background: url(../images/icon-drive-white.png) left center no-repeat;}
				&.one{background: url(../images/icon-passenger-white.png) left center no-repeat;}
			}
		}
	}
}

.wrapper{
	width:1200px;
	margin: 0px auto;
}
